<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <a class="navbar-brand" href="#">NBlog Admin</a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav mr-sm-2">
      <li class="nav-item dropdown">
        <a href="javascript:void" class="user-profile dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/user_profile.png" /> Liep Nguyen
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Help</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>